name: _ Run Tests
on:
  workflow_call:
    inputs:
      use-devnet:
        type: boolean
        default: false
    secrets:
      TEST_RPC_URL:
        required: false
      TEST_ACCOUNT_PRIVATE_KEY:
        required: false
      TEST_ACCOUNT_ADDRESS:
        required: false

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    # TODO - periodically check if conditional services are supported; https://github.com/actions/runner/issues/822
    services:
      devnet:
        image: ${{ (inputs.use-devnet) && 'shardlabs/starknet-devnet-rs:0.0.3-seed0' || '' }}
        ports:
          - 5050:5050

    env:
      TEST_RPC_URL: ${{ secrets.TEST_RPC_URL }}
      TEST_ACCOUNT_PRIVATE_KEY: ${{ secrets.TEST_ACCOUNT_PRIVATE_KEY }}
      TEST_ACCOUNT_ADDRESS: ${{ secrets.TEST_ACCOUNT_ADDRESS }}

    steps:
      - run: echo ${{ secrets.TEST_RPC_URL }}
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
      - run: npm ci --ignore-scripts
      - run: npm test
