name: '[Manual] Test Devnet'
on: workflow_dispatch

jobs:
  tests:
    name: Run test on ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: rpc-devnet
            TEST_RPC_URL: http://127.0.0.1:5050/rpc

    uses: ./.github/workflows/_test.yml
    with:
      use-devnet: ${{ matrix.TEST_RPC_URL != '' }}
    secrets:
      TEST_RPC_URL: ${{ matrix.TEST_RPC_URL }}
