name: '[Manual] Test Testnet'
on:
  workflow_dispatch:
    inputs:
      ignore-scripts:
        description: 'Ignore scripts'
        type: boolean
        default: false
      rpc-override:
        description: 'RPC URL override'
        type: string

jobs:
  tests:
    name: Run test on ${{ matrix.name }}
    strategy:
      max-parallel: 1
      matrix:
        name: [rpc-sepolia]

    uses: ./.github/workflows/_test.yml
    with:
      ignore-scripts: ${{ inputs.ignore-scripts }}
    secrets:
      TEST_RPC_URL: ${{ inputs.rpc-override || secrets.TEST_RPC_URL }}
      TEST_ACCOUNT_PRIVATE_KEY: ${{ secrets.TEST_ACCOUNT_PRIVATE_KEY }}
      TEST_ACCOUNT_ADDRESS: ${{ secrets.TEST_ACCOUNT_ADDRESS }}
