name: '[PR|Push] Main'
on:
  pull_request:
    branches:
      - main
    paths:
      - '__mocks__/**'
      - '__tests__/**'
      - 'src/**'
      - 'package*'
      - 'ts*'
      - '!www/**'
  push:
    branches:
      - main
    paths:
      - '__mocks__/**'
      - '__tests__/**'
      - 'src/**'
      - 'package*'
      - 'ts*'
      - '!www/**'

jobs:
  skip_check:
    name: Skip check
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_duplicate.outputs.should_skip }}
    steps:
      - id: skip_duplicate
        uses: fkirc/skip-duplicate-actions@v5
        with:
          cancel_others: 'true'

  tests:
    name: Run test on ${{ matrix.node }} ${{ matrix.protocol }} ${{ matrix.version }}
    needs: [skip_check]
    if: needs.skip_check.outputs.should_skip != 'true'
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        protocol: [RPC, WS]
        node: [Juno, Pathfinder]
        version: [v0_8, v0_9]

    uses: ./.github/workflows/_test.yml
    with:
      protocol: ${{ matrix.protocol }}
      node: ${{ matrix.node }}
      version: ${{ matrix.version }}
    secrets: inherit

  release:
    name: Release
    needs: [skip_check, tests]
    if: |
      !cancelled() && !failure()
      && needs.skip_check.outputs.should_skip != ''
      && github.event_name == 'push'
    uses: ./.github/workflows/_release.yml
    secrets: inherit
