name: Release
on:
  push:
    branches:
      - main
      - develop
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      TEST_ACCOUNT_PRIVATE_KEY: ${{ secrets.TEST_ACCOUNT_PRIVATE_KEY }}
      TEST_RPC_URL: ${{ secrets.TEST_RPC_URL }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: lts/*
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test

      - uses: actions/upload-artifact@v2
        with:
          name: build
          path: dist
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [build-and-test]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
      - run: npm ci
      - uses: actions/download-artifact@v2
        with:
          name: build
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
